:root {
    --light-gray-1: #EFF0F3;
    --light-gray-2: #E4E5E9;
    --gray: #C0C0C0;
    --dark-gray: #9A9494;
    --black: #2B2C34;
    --white: #FFFFFE;
    --purple: #6246EA;
}

.w-1440 {
    width: 1440px;
    margin: 0 auto;
}

.w-1250 {
    width: 1250px;
    margin: 0 auto;
}

a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

.anchor {
    position: absolute;
    top: -86px;
}

/*--------------- header ---------------*/
.main-header {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 86px;
    background: var(--light-gray-1);
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.header-nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
}

.buy-coffee a {
    border-radius: 4px;
    background: var(--purple);
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white);
    font-size: 18px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/*--------------- main ---------------*/
main {
    background: var(--light-gray-1);
    height: 814px;
    position: relative;
}

.main-wrap {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home h1 {
    width: 617px;
}

.home p {
    border-left: 3px solid var(--black);
    padding-left: 12px;
    width: 677px;
    color: var(--dark-gray);
    font-size: 20px;
}

.subscribe-form {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.subscribe-form input[type=email] {
    padding-left: 25px;
    background: var(--white);
    color: var(--black);
    width: 444px;
}

.subscribe-form input[type=email]::placeholder {
    color: var(--gray);
}

.subscribe-form input[type=email]:focus {
    outline: none;
}

.subscribe-form input[type=submit] {
    width: 145px;
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    color: var(--white);
    font-weight: 700;
}

/*--------------- section.category ---------------*/
.category {
    height: 500px;
    background-color: var(--light-gray-1);
    padding-top: 67px;
    position: relative;
}

.cards-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards-header a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: var(--black);
    text-align: right;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.category-cards {
    height: 280px;
    display: flex;
    gap: 37px;
}

.category-cards .card {
    height: 100%;
    width: 220px;
    padding: 65px 0 0 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 8px;
    background: var(--white);
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    transition: .4s;
}

.category-cards .card:hover {
    background: var(--purple);
    box-shadow: 4px 6px 13px 0 rgba(113, 113, 113, 0.25);
    transition: .4s;
}

.category-cards .card:hover p {
    color: var(--white);
}

.category-logo {
    width: 60px;
    height: 60px;
    border-radius: 7px;
    background: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*--------------- section.articles ---------------*/
.articles {
    background-color: var(--white);
}

.articles-wrap {
    padding: 80px 0 80px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

.articles .cards {
    display: flex;
    justify-content: space-between;
}

.articles .card {
    display: flex;
    width: 300px;
    height: 425px;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    background: var(--white);
    transition: .4s;
}

.articles .card:hover {
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    transition: .4s;
}

.article-title h4 {
    margin: 25px 0;
}

.article-sign {
    height: 57px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 57px 1fr;
    grid-column-gap: 15px;
    grid-template-areas:
        "photo name"
        "photo sign-footer";
}

.article-sign img {
    grid-area: photo;
    width: 57px;
    height: 57px;
    border-radius: 50%;
}

.article-sign h5 {
    grid-area: name;
    font-weight: 600;
}

.sign-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: sign-footer;
}

.sign-footer time {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.sign-footer p {
    color: var(--black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.point {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--black);
}

.articles button {
    width: 165px;
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    background: var(--purple);
    font-size: 20px;
    color: var(--white);
    font-weight: 700;
    text-transform: capitalize;
}

/*--------------- section.subscribe ---------------*/
.subscribe {
    height: 453px;
    background: var(--light-gray-1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.subscribe-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.mail-logo {
    width: 130px;
    height: 130px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 50%;
}

.subscribe-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subscribe-title p {
    color: var(--gray);
    text-align: center;
    font-size: 20px;
}

/*--------------- footer ---------------*/
.footer {
    background: var(--light-gray-2);
    padding: 70px 0 26px 0;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
}

.socials-logo {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.socials-logo p {
    width: 284px;
    color: var(--black);
    font-size: 18px;
}

.socials-logo ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.footer-nav {
    display: flex;
    gap: 95px;
}

.footer-nav h4 {
    text-transform: uppercase;
}

.footer-nav ul {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 18px;
}

.line {
    height: 1px;
    margin-top: 50px;
    background-color: var(--gray);
}

.footer-sign {
    color: var(--black);
    font-size: 14px;
    margin-top: 26px;
}



