* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    position: relative;
    font-family: "Plus Jakarta Sans", serif;
}

root {
    --light-gray-1: #EFF0F3;
    --light-gray-2: #E4E5E9;
    --gray: #C0C0C0;
    --dark-gray: #9A9494;
    --black: #2B2C34;
    --white: #FFFFFE;
    --purple: #6246EA;
}

.w-1440 {
    width: 1440px;
    margin: 0 auto;
}

.w-1250 {
    width: 1250px;
    margin: 0 auto;
}

/*--------------- header ---------------*/
header {
    position: sticky;
    z-index: 1;
    top: 0;
    height: 86px;
    background: var(--light-gray-1, #EFF0F3);
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

nav ul li {
    color: var(--dark-gray, #2B2C34);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

nav ul li.buy-coffee {
    border-radius: 4px;
    background: var(--purple, #6246EA);
    display: flex;
    padding: 10px 17px;
    align-items: flex-start;
    gap: 10px;
    color: var(--white, #FFFFFE);
    font-size: 18px;
}

li.search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 25px;
    width: 96px;
}

/*--------------- main ---------------*/
main {
    background: var(--light-gray-1, #EFF0F3);
    height: 814px;
}
.main-home {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.home h1 {
    width: 617px;
    color: var(--black, #2B2C34);
    font-size: 64px;
    font-weight: 700;
    text-transform: capitalize;
}

.home p {
    border-left: 3px solid var(--black, #2B2C34);
    padding-left: 12px;
    width: 677px;
    color: var(--dark-gray, #9A9494);
    font-size: 20px;
    font-weight: 400;
}

.home form {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.home form input[type=email] {
    padding: 21px 200px 21px 25px;
    border: none;
    border-radius: 8px;
    background: var(--white, #FFFFFE);
    color: var(--black, #2B2C34);
    font-size: 20px;
}

.home form input[type=email]::placeholder {
    color: var(--gray, #C0C0C0);
    font-size: 20px;
    width: 219px;
}

.home form input[type=email]:focus {
    outline: none;
}

.home form input[type=submit] {
    display: flex;
    height: 67px;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--purple, #6246EA);
    color: var(--white, #FFFFFE);
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}